**/bin/
**/obj/
**/publish/
*.user
**/.vs/
backend/FanHubPlus.Api/wwwroot/uploads/*
!backend/FanHubPlus.Api/wwwroot/uploads/.gitkeep
**/node_modules/
**/dist/
**/.angular/
tools/__pycache__/
*.log
.DS_Store
*.mp4
*.mkv
*.webm
*.avi
*.mov
backend/FanHubPlus.Api/wwwroot/media/video/
